In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
submissions = pd.read_csv("sample_submission/sample_submission_stg1.csv")

In [4]:
submissions.head()

,image,ALB,BET,DOL,LAG,NoF,OTHER,SHARK,YFT
0,img_00005.jpg,0.455003,0.052938,0.030969,0.017734,0.123081,0.079142,0.046585,0.194283
1,img_00007.jpg,0.455003,0.052938,0.030969,0.017734,0.123081,0.079142,0.046585,0.194283
2,img_00009.jpg,0.455003,0.052938,0.030969,0.017734,0.123081,0.079142,0.046585,0.194283
3,img_00018.jpg,0.455003,0.052938,0.030969,0.017734,0.123081,0.079142,0.046585,0.194283
4,img_00027.jpg,0.455003,0.052938,0.030969,0.017734,0.123081,0.079142,0.046585,0.194283

In [5]:
submissions.shape

(1000, 9)

In [6]:
columns = list(submissions.columns)

In [13]:
random = pd.DataFrame(np.random.random_sample(size=(1000,9)),columns = columns)

In [14]:
random.head()

,image,ALB,BET,DOL,LAG,NoF,OTHER,SHARK,YFT
0,0.839579,0.855175,0.945205,0.141212,0.579779,0.983546,0.390744,0.656121,0.911831
1,0.908327,0.647327,0.291706,0.970818,0.729577,0.717430,0.863081,0.262225,0.220212
2,0.936683,0.177590,0.862677,0.934528,0.381837,0.655252,0.787673,0.572202,0.101325
3,0.318607,0.212341,0.886886,0.140888,0.156922,0.518755,0.203880,0.233374,0.611417
4,0.169347,0.871152,0.130755,0.717898,0.664626,0.123841,0.889616,0.213999,0.002460

In [15]:
random["image"] = submissions["image"]

In [16]:
random.to_csv("baseline.csv",index = False)

### Kaggle score : 2.41669